@charset "utf-8";
/* CSS Document */
body{ background:url(../img/bg4.png);}
#contain 
{
	width:1149px;
	margin:auto;
	font-family: "STXingkai";
}
a:hover,a:link,a:visited
{
	color: black;
	text-decoration: none;
}
/*-------------------logo----------------------------*/
#logo
{
	float:left;
	width:850px;
	height:180px;
}
#zhcn
{
	margin-top: -50px;
	padding-left: 60px;
	text-align:left;
	font-size: 35px;
	font-family: "STXingkai";
}
#English
{
	padding-top: 10px;
	padding-left: 10px;
	text-align: center;
	font-size: 20px;
	font-weight: 800;
	font-family: "微软雅黑";
	color: rgb(204,204,204);
}
#logo_img
{
	float: right;
	margin:-50px 10px 700px 0px;
}
/*-------------------logo----------------------------*/

/*-------------------竖形导航----------------------------*/
#menu
{
	float:left;
	width:240px;
	height:870px;
	padding-top: 50px;
	border-left: 2px solid rgb(204,204,204);
	border-right: 2px solid rgb(204,204,204);
}
.nav
{
	width: 225px;
	height: 50px;
	background-color: rgb(230,230,230);
	margin:7px 5px 5px 7px;
	cursor: pointer;
	font: 18px "微软雅黑";
	text-align: center;
	padding-top: 1px;
}
.nav:hover
{
	background-color: rgb(146,177,194);
	
}
#img_logo
{
	margin: 0px 0px 60px 0px;
	width: 230px;
	height: 110px;
	/*border: black thin solid;*/
}
/*-------------------竖形导航----------------------------*/

/*-------------------底部开始----------------------------*/
#foot
{
	float: left;
	margin-top: 20px;
	border-top: rgb(204,204,204) thin solid;
	/*width: 100%;*/
	width: 100%;
	padding:20px 20px 0px 0px;
	height: 120px;
	font-size: 13px;
}
#foot_left
{
	float: left;
	text-align: center
	/*width: 70px;*/
	color: black;
	border-left:rgb(204,204,204) thin solid; 
	border-right:rgb(204,204,204) thin solid; 
	padding: 0px 20px 0px 35px;
	margin:0px 400px 0px 550px;
	/*margin:auto;*/

}
#foot_left:hover
{
	border-left:rgb(146,177,194) thin solid; 
	border-right:rgb(146,177,194) thin solid; 	
}
#foot_left a:hover
{
	color: rgb(146,177,194);
}
#foot_bottom
{
	float: left;
	margin-top: 2px;
	width: 600px;
	margin:0px 400px;
	height: auto;	
	text-align: center;
}
/*-------------------底部开始----------------------------*/

/*-------------------主要内容----------------------------*/
#content
{
	float:left;
	width:850px;
	margin:-40px 0px auto -30px;
}
#picture
{
	float:right;
	width:750px;	
	height:500px;
}
/*-------------------主要内容----------------------------*/


/*-------------------主页开始----------------------------*/
#page1_text
{   
	width: 700px;
    border: 2px solid rgb(154,205,50);
	height:300px; 
	margin:-220px 10px 10px 100px; 
	overflow:hidden;
	text-overflow:clip;
}
#page1_text p
{
	font-family: "微软雅黑";
	font-size: 18px;
	line-height: 25px;
	padding:10px 25px; 
}


/*-------------------主页结束----------------------------*/
/*-------------------教师成员页面开始------------------------*/

.member_line
{
	border: rgb(112,173,71) 1px solid; 
	margin:-1px 0px 0px 55px; 
	width:150px;
}

.member_text
{
	width: 205px;
	height: 310px;
	padding:0 5px 0 5px;
	border: 2px solid rgb(154,205,50);
	text-align: center;

}

.member_text p
{
	 /*margin-top: -1px;*/
}

.member_img
{   padding-top: 10px;
	width: 150px;
	height: 200px;
	/*margin:10px 10px 10px 20px;*/
}

/*-------------------教师成员页面结束------------------------*/

/*-------------------教授页面开始------------------------*/
#line
{
	float: left;
	margin:auto 45px 0px 45px;
}
.line_line
{
	float: left;
	width: 300px;
	color: black;
	margin-top: 30px;
}
.line_text
{
	float: left;
	color: #8B4726;
}
#headteacher_img
{
	float: left;
	width:300px;
	height: 400px;
	margin:70px 50px 0px 70px;
	border: thin solid black;
}
#headteacher_intro1
{
	float: left;
	width:300px;
	height: 150px;
	text-align: center;
	font-size: 30px;
	margin:100px 0px 0px 0px;
}
#headteacher_intro2
{
	float: left;
	width:370px;
	height: 200px;
	line-height: 25px;
	margin:50px 0px 0px 0px;
}
#headteacher_intro3
{
	float: left;
	width:770px;
	height: 270px;
	line-height: 25px;
	margin:0px 0px 0px 23px;
}
/*-------------------教授页面结束------------------------*/


/*-------------------课程介绍页面开始------------------------*/
#title
{
	float: left;
	padding-left: 130px;
	margin: 0px 0px 0px 250px;
}
#direction,#course
{
	float: right;
	width: 200px;
	height: 50px;
	color: white;
	font-size: 20px;
	text-align: center;
	border-radius: 5px;
	margin:10px 0px 10px 30px;
	background-color: rgb(169,209,142);
}
#content_nav
{
	float: right;
	width: 150px;
	/*height: 500px;*/
	/*padding-top: 25px;*/
	/*border: thin solid black; */
	margin: 10px 0px 0px -20px;	
	border-right: 3px solid rgb(204,204,204); 
	/*position: fixed;
	top: 208px;
	left: 136px;*/
}
#content_con
{
	float: right;
	width: 630px;
	height: auto;
	margin: 0px 10px 0px 20px;
	/*border: thin solid black; */
}
.content_nav_det
{
	/*margin: 10px 0px 0px 0px;*/

}
.content_nav_title
{
	/*margin: -35px 0px 0px 25px;*/
	/*border: thin solid black;*/
}
#content_nav
{
	/*border: thin solid black;*/
}
#summary
{
	float: left;
}
#summary_title,#GYGC_title,#title2_title,#title3_title,#title4_title,#title5_title,#title6_title,#title7_title,#title8_title
{
	color: #8B4726;
	margin: 20px 0px 20px 30px;
}
#GYGC_text,#summary_text,#title2_text,#title3_text,#title4_text,#title5_text,#title6_text,#title7_text,#title8_text
{
	float: left;
	width: 87%;
	line-height: 25px;
	padding: 5px 20px;
	margin: 10px 4% 10px 4%;
	border:2px rgb(154,205,50) solid;
}
.title_line
{
	float: left;
	width: 205px;
	color: black;
	margin-top: 20px;
}
.title_text
{
	color: #8B4726;
	float: left;
}
/*-------------------课程介绍教授页面结束------------------------*/
/*-------------------团队页面结束------------------------*/
#page3_text
{
	width: 600px;
    border: 2px solid rgb(154,205,50);

}

#page3_text p
{   font-family: "微软雅黑";
	font-size: 18px;
	line-height: 25px;
	padding:10px 25px; 
}
#page3_people
{
	width: 150px;
	height: 210px;
	margin:25px 10px 10px 20px;
}
.link
{   
	margin: 0px 0px 0px 25px;
	color:grey;
}
.link:hover
{
	color:#8B4726; 
}
.border
{
	margin: -10px 0 0 15px;
}
/*-------------------团队页面结束------------------------*/


/*------------------实验设备开始--------------------------*/
#facilities_intro
{
	float: left;
	border: solid 2px rgb(154,205,50);
	margin: 40px 30px 40px 30px;
	width: 730px; 
	height: auto;
	font-family: "微软雅黑";
	font-size: 18px;
	line-height: 25px;
	padding:10px 25px; 
}
#facilities_title
{
	width: 100%;
	height: 40px;
	text-align: center;
}
.facilities_con
{
	float: left;
	width: 360px;
	margin: 40px 30px 40px 30px;
}
.facilities_img
{
	float: left;
	width: 100%;
	height: 250px;
	/*border: thin solid black;*/
}
.facilities_img2
{
	float: left;
	width: 70%;
	height: 350px;
	padding: 0px 50px 0px 50px;
	/*border: thin solid black;*/
}
.facilities_text
{
	float: left;
	width: 101%;
	height: 50px;
	font-weight: 800;
	text-align: center;;
	/*border: thin solid black;	*/
}
/*------------------实验设备结束--------------------------*/


/*--------------------学术交流开始--------------------------*/
#sparetimezh_title1,#sparetimezh_title2,#sparetimezh_title3,#sparetimezh_title4,#sparetimezh_title5,#sparetimezh_title6,#sparetimezh_title7,#sparetimezh_title8,#sparetimezh_title9,#sparetimezh_title10,#sparetimezh_title11,#sparetimezh_title12,#sparetimezh_title13，#sparetimezh_title2015
{
	float: left;
	height: auto;
	width: 680px;
	margin: 30px 0px 30px 0px;
}
#sparetimezh_title1_title,#sparetimezh_title2_title,#sparetimezh_title3_title,#sparetimezh_title4_title,#sparetimezh_title5_title,#sparetimezh_title6_title,#sparetimezh_title7_title,#sparetimezh_title8_title,#sparetimezh_title9_title,#sparetimezh_title10_title,#sparetimezh_title11_title,#sparetimezh_title12_title,#sparetimezh_title13_title，#sparetimezh_title2015_title
{
	float:left;
}
.sparetimezh_con1
{
	float: left;
	width: 320px;
	height: auto;
}
.sparetimezh_con2
{
	float: left;
	width: 640px;
	height: auto;
}
.sparetimezh_con1_img
{
	width: 320px;
	height: auto;
}
.sparetimezh_con1_title
{
	text-align: center;
	width: 300px;
	height: 70px;
}
/*--------------------学术交流结束--------------------------*/

/*--------------------友好链接开始---------------------------*/
.contact_con
{
	float: left;
	width: 200px;
	height: auto;
	margin: 30px 30px 30px -30px;
}
#contact_con
{
	float: right;
	width: 680px;
	height: 1500px;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 120px;
	border-left: 2px solid rgb(154,205,50);
	border-right: 2px solid rgb(154,205,50);
}
.contact_con2
{
	float: left;
	width: 200px;
	height: auto;
	margin: 30px 30px 30px 0px;
}
.contact_img
{
	float: left;
	width: 50%;
	height: 100px;
	margin: 0px 50px 0px 50px;
}
.contact_text
{
	float: left;
	width: 170%;
	height: 50px;
	text-align: center;
	margin:0px 0px 0px -50px;
}
.link_img:hover
{
	width:120%;
	height: 120%;
	margin: -5% 0px 0px -10%;
}
.link_img2:hover
{
	width:270px;
	height: 90px;
	margin: 0px 0px 0px -80px ;
}
.link_img 
{
	width:100px;
	height:100px;
}
.link_img2
{
	width:199px;
	height:77px;
	margin: 0px 0px 0px -50px;
}
.contact_text
{
	color: black;
	margin: 0px 0px 0px -70px;
}
.contact_text a:hover
{
	padding: 0px 10px 0px 10px;
	border-right: rgb(146,177,194) thick solid;
	border-left: rgb(146,177,194) thick solid;
}
.contact_text a:link
{
	color: black;
}
/*--------------------友好链接结束--------------------------*/

/*-------------------发表文章页面开始------------------------*/
  #page4_text
  {
  	width:650px;
  	border: 2px solid rgb(154,205,50);
  	margin-left: 150px;
  	margin-top: 60px;

 }

 #page4_text p
 { 
 	font-family:"微软雅黑";
    padding: 0px 25px 0px 30px;
    font-size: 15px;
    color: #555555;
    line-height: 30px;
    text-align: left;
    margin-bottom:-2px;
 }
 .page4nav_det span
 {
 	margin-left: -350px;
 }
 .page4_nav_title
 {
 	margin:-30px 0px 0px 0px;
 }
 .line1
 {
 	margin-left: -400px;
 }
 .line2
 {
 	width: 130px;
 }
/*-------------------发表文章页面结束------------------------*/

/*-------------------联系我们页面开始------------------------*/

#contact_text
{  
    width:650px;
  	border: 2px solid rgb(204,204,204);
  	margin-left: 60px;
  	margin-top: 30px;
  	text-align: center;
    border-radius: 10px;
}
#contact_text p
{
	padding: 0px 30px 0px 30px;
	/*font-weight: 600;*/
}
/*-------------------联系我们页面结束------------------------*/

/*----------------------igem开始------------------------------*/
#igem_con
{
	float: right;
	width: 80%;
	height: auto;
}
#igem_intr
{
	float: right;
	width: 90%;
	margin: 10px 20px 40px auto;
	padding: 5px 20px;
  	border: 1px solid rgb(154,205,50);
}
#bit-china_intr,#igem_links
{
	float: right;
	width: 90%;
	margin: 10px 20px 40px auto;
	padding: 5px 20px ;
  	border: 1px solid rgb(154,205,50);
}
#igem_teacher
{
	float: right;
	width: 96%;
	margin: 10px 20px 40px auto;
}
#igem_teacher_text
{
	float: left;
	width: 50%;
	height: auto;
	padding: 5px 20px;
	margin: 0px 20px 0px auto;
  	border: 1px solid rgb(154,205,50);
}
#igem_teacher_img
{
	float: left;
	margin: 50px auto 0px auto;	
}
.igem_title
{
	float: left;
}
.igem_link a
{
	float: left;
	width: 140px;
	height: 40px;
     font-size: 30px;
	margin: 50px 30px 10px 0px;
	text-align: center;
	border: 1px solid rgb(112,173,70);
	background-color: white;
	color:rgb(204,204,204);
	cursor: pointer;
}
/*.igem_link a
{
	color:rgb(204,204,204);
}*/
.igem_link :hover
{
	
	color:rgb(112,173,70);
}
/*----------------------igem结束------------------------------*/

#igemteam_con
{
	float: right;
}
#igemteam_con_text
{
	float: right;
	width: 74%;
	padding: 5px 30px;
	line-height: 25px;
	margin: 0px 20px 0px 10px;
	border: 1px solid rgb(204,204,204);
}
.igemteam_con_img
{
	float: right;
	width: 76%;
	margin: 20px auto 20px auto;
}



/*-----------------研究成果开始------------------- */
.huojiang
{
	float: left;
	margin:0px 17px 0px 0px;
}
.huojiang_text
{
	text-align: center;
}
/*-----------------研究成果开始------------------- */