#title
{
	float: left;
	padding-left: 300px;
	margin: 0px 0px 0px 250px;
}
#content_con
{
	float: right;
	width: 820px;
	height: auto;
	margin: 0px 40px 0px 10px;
	/*border: thin solid black;*/
}
.title_nav
{
	width: 150px;
    border-bottom: rgb(112,173,71) 2px solid;
    margin: 30px 0px 10px 30px;
    text-align: center;
}
#title11,#title12,#title13,#title21,#title22,#title23,#title24,#title31,#title32,#title33,#title4
{
	/*border:1px black solid;*/
	float: left;
	margin-left: 10px;
}
.title_con
{
	float: left;
}
#summary_img
{
	float: left;
	width: 87%;
	line-height: 25px;
	padding: 5px 10px;
}
#title11_img,#title12_img,#title13_img,#title13_img2,#title21_img,#title22_img,#title23_img,#title24_img,#title31_img,#title32_img,#title33_img
{
	float: left;
	width: 300px;
	box-shadow: 1px 1px 1px black;
	margin-top: 10px;
	/*margin: 10px 5px 20px 5px;*/
	/*border:1px black solid;*/
}
#title11_text,#title12_text,#title13_text,#title13_text2,#title21_text,#title22_text,#title23_text,#title24_text,#title31_text,#title32_text,#title33_text
{
	float: left;
	width: 350px;
	line-height: 25px;
	padding: 5px 20px;
	margin: 10px 10px 20px 10px;
	border:2px rgb(154,205,50)solid;
}
#title13_img,#title13_img2,#title23_img,#title24_img,#title33_img
{
	width: 50%;
}
#title13_text,#title13_text2,#title23_text,#title24_text,#title33_text
{
	width: 40%;
}
.title_line
{
	float: left;
	width: 205px;
	color: black;
	margin-top: 20px;
}
.title_text
{
	float: left;
}

.huojiang_img
{
	width: 100%;
	height:270px;
}
.huojiang_text
{
	width: 100%;
	height: auto;
	text-align: center;
}.content_nav_title
{
	margin: -35px 0px 0px 25px;
	/*border: thin solid black;*/
}